body{
    background: #edc0bf;
    background: linear-gradient(90deg, #edc0bf 0,#c4caef);
    font-family: 'Inter', sans-serif;
}
#absoluteNav{  
    position: absolute;
    width: 100vw;
    top:0;
    right: 0;
    left: 0;
    display: grid;
    background: rgba(255, 255, 255, 0.53);
    grid-template-columns: 1fr 2fr;
    border-radius: 10px;
}
#titleFlexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
button{ 
    border: none;
    background-color: inherit;
    font-size: 2rem;
}
#pageWrapper{
    margin: 5% auto;
    padding: 10%;
}
#contactContainer{
    text-align: center;
}
#homeImage{
    width: 50vw;
    height: auto;
    border-radius: 40px;
}
.menuImage{
    width: 50%;
    height: auto;
    border-radius: 20px;
}
#menuGrid{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.menuOption{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
#homeContainer{
    text-align: center;
}
@media (max-width: 600px) {
    #titleFlexbox{
        display: flex;
        flex-direction: column;
        justify-content: center;
       
    }
    #iconIMG{
        display: none;
    }
    #absoluteNav{
        display: flex;
        justify-content: center;
        border-radius: 0;
    }
    #absoluteNav button:hover{
        background: pink;
        width: 100%;
    }
    #pageWrapper{
        padding: 10rem 0 0 0;
    }
}